.status-label {
    -fx-font-weight: bold;
}

.search-box {
    -fx-padding: 10px 0 0 10px;
}

.footer {
    -fx-padding: 5px;
    -fx-background-color: #f4f4f4;
}

.copyright-label {
    -fx-font-size: 12px;
    -fx-text-fill: #777;
}
